.headerContainer{
    position: sticky;
    top: 0; 
    background-color: black;
    /* height: 10vh;   */
    display: flex; 
    justify-content: space-between;
    cursor: pointer;
    color: white;
    padding: 10px;
}
.LeftHeaderList{ 
    align-items: center;
    display: flex; 
    justify-content: space-between;
    color: white;
    width: 60%;
    cursor: pointer;
    /* max-width: 700px;  */
    margin-left: 5%; 
    
} 
.headerRight { 
    display: flex; 
    justify-content: space-around;
    max-width: 300px;
    align-items: center;
    align-content: end;
    width: 20%;
}
 @media screen and (max-width: 900px) {
    .LeftHeaderList { 
        flex-direction: column; 
        align-items: flex-start;
    }  
}